
{% import "assets/wizard/ngx/templates/macros/modules.html" as packageHtml %}
{{packageHtml.packages(modulePackageArr)}}
import { AppComponent } from './app.component';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    {{packageHtml.moduleImports(modulePackageArr)}}
  ],
  providers: []{% if isMainModule %},{% endif %}
  {% if isMainModule -%}
  bootstrap: [AppComponent]
  {%- endif %}
})
export class {% if moduleName %}{{moduleName | capitalize}}{% else %}App{% endif %}Module { }
