/* ========================================================================== */
/* Position  Mixins */
/* ========================================================================== */
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
/* ========================================================================== */
/* Absolute Position Mixins */
/* ========================================================================== */
  @mixin absolute($args...) {
    @include position(absolute, $args...);
  }
/* ========================================================================== */
/* Relative Position Mixins */
/* ========================================================================== */
  @mixin relative($args...) {
    @include position(relative, $args...);
  }
/* ========================================================================== */
/* Fixed Position Mixins */
/* ========================================================================== */
  @mixin fixed($args...) {
    @include position(fixed, $args...);
  }